html
{
    overflow-x: hidden;
}
   
body
{
    overflow-x: hidden;  
   background-image: url(background1.jpg);
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-position: left;
}
.navbar-nav{
    font-family: Arial;
    font-size: 20px;
}

.con{
   border:2px solid transparent;
    padding-left: 50px;
    padding-right: 50px;
}

.contact{
    padding-left: 90px;
    padding-right: 90px;
}
.hello1{
    height: 600px;
     width: 1250;
 }
 .hello2{
    height: 600px;
     width: 1300;
 }
 .hello3{
    height: 600px;
     width: 1300;
 }
ul li:hover{
    background-color:rgb(211,211,211);
    font-weight: bolder;
}
@media (max-width: 600.98px) { 
    .con{
        border:2px solid transparent;
    padding-left: 20px;
    padding-right: 10px;
    }
    .hello1{
        height: 200px;
    }
    .hello2{
        height: 200px;
    }
    .hello3{
        height: 200px;
    }
   
}
.about
{
    padding-top: 5px;
}
 .about-heading
{
    text-align: left;
    padding-bottom: 10px;
}
.about-content
{
    text-align: justify; 
    font-size: larger;
    font-weight:500;
}
.present-content
{
    text-align: justify; 
    font-size: larger;
    font-weight:500;
}
.dob .x
{
    color:white;
     padding-top:30px;
}
@media(max-width:800px)
{
    .dob .x{
        padding-top:4px;
    }
}
.dob
{
    padding-left: 50px;
     padding-top: 50px;
    padding-right: 50px;
}
@media(max-width:450px)
{
    .dob
    {
        padding-right: 0px;
        padding-left:0px;
    }
    .about-content
    {
        font-weight:normal;
    }
    .present-content
    {
        font-weight:normal;
    }
}
@media(max-width:978px)
{
    .hello
    {
        padding-top: 50px;
    }
}

    @media(max-width:978px)
{
    .ifr
    {
        padding-top: 80px;
    }
}
