.team{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.navbar-nav{
    font-family: Arial;
    font-size: 20px;
}


.a{
    border: 1px solid red;
}
.b{
    border: 1px solid red;
}
.c{
    border: 1px solid red;
}
.d{
    border: 1px solid red;
}
.e{
    border: 1px solid red;
}
.f{
    border: 1px solid red;
}
.g{
    border: 1px solid red;
}
.h{
    border: 1px solid red;
}
.i{
    border: 1px solid red;
}
.j{
    border: 1px solid red;
}
.k{
    border: 1px solid red;
}
.l{
    border: 1px solid red;
}
.m{
    border: 1px solid red;
}
.n{
    border: 1px solid red;
}

/*************************************************/
.a1{
    border: 1px solid red;
}
.b1{
    border: 1px solid red;
}
.c1{
    border: 1px solid red;
}
.d1{
    border: 1px solid red;
}
.e1{
    border: 1px solid red;
}
.f1{
    border: 1px solid red;
}
.g1{
    border: 1px solid red;
}
.p1{
    border: 1px solid red;
}
.i1{
    border: 1px solid red;
}
.j1{
    border: 1px solid red;
}
.k1{
    border: 1px solid red;
}